.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
}

.modalContent {
  /* background-color: #fed86b; */
  background-color: #e1baa7;
  margin: auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow-y: auto;
}

/* .selectedInfo {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
} */

/* .infoCategoryName {
  background-color: transparent;
  color: #7958af;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.selectedNumber {
  width: 30px;
  height: 30px;
  background-color: #7958af;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
} */

.closeButton {
  color: #aaa;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
  font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
  /* color: #000; */
  color: #03564a;
  text-decoration: none;
  cursor: pointer;
}

/* .content {
  text-align: center;
  margin: 60px 0 20px 0;
  padding: 40px;
  font-size: 20px;
  background-color: #7958af;
  border-radius: 30px;
  border: 10px solid #fff;
  line-height: 1.5;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 288px);
  height: 60%;
  max-height: 60%;
} */

/* .controlBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
} */

/* .startTimerButton,
.showAnswerButton,
.selectCategoryButton {
  font-size: 24px;
  padding: 10px 20px;
  margin-bottom: 50px;
  background-color: #7958af;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: flex;
  align-items: center;
} */

.showAnswerButton,
.selectCategoryButton {
  background-color: #7958af;
}

.startButtonIcon {
  width: 40px;
  height: 40px;
}

.answer {
  margin: 20px 0;
}

.subAnswer {
  margin: 20px 0;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 72px;
  transition: opacity 0.3s ease;
  font-weight: 800;
  color: #7958af;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fed86b;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 50px;
  position: relative;
}

.digit,
.colon {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px 0;
  margin: 0 5px;
  display: inline-block;
  width: 80px;
  text-align: center;
}

.colon {
  background: transparent;
  width: auto;
  padding: 0 10px;
}

.forceStopButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.timerContainer:hover .forceStopButton {
  opacity: 1;
}