.settings {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  z-index: 1000;
}

.sidebar {
  width: 250px;
  background-color: white;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 0;
}

.tab {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #4A148C;
  color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  margin-right: 3px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 220px;
  margin-bottom: 10px;
}

.tabText {
  color: white;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.button {
  font-size: 18px;
  padding: 10px;
  margin: 10px 0;
  background-color: #7958af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #68469c;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 18px;
  padding: 10px;
  background-color: #7958af;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
