.showAnswerButton {
  font-size: 24px;
  padding: 10px 20px;
  /* background-color: #7958af; */
  background-color: #03564a;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.showAnswerButton:hover {
  filter: saturate(2);
}
